*
{
    margin: 0;
    padding: 0;
}
a
{
    color: #007bff;
}
/*--NavigationBar*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: rgb(255, 255, 255);
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*--Slider*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: rgb(255, 255, 255);
    font-size: 30px;
}


/*--About*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
.about-content
{
    padding-top: 20px;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress
{
    border-radius: 16px!important;
    margin-bottom: 20px;
}
/*--skills--*/
#skill
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#skill .row
{
    margin-top: 30px;
    align-items: center;
}
.rr
{
    margin: 10px auto;
    align-items: center;
    
}
.profile-logo
{
    padding: 10px 10px 10px;
    background-color: #efefef;
    border-radius: 30%;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.profile-logo:hover
{
    box-shadow: 0  15px 15px #007bff;
    transition: 0.5s;
    transform: translateY(-10px);
}
.working
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



/*--Team--*/
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
/*--education--*/
#education
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#education .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 10px 10px 10px;
    background-color: #efefef;
    align-content: center;
    border-radius: 10%;
}
.profile:hover
{
    box-shadow: 0 0 15px 15px #007bff;
    transition: 0.5s;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

}
.profile a img
{
    top: -60px;
    position: absolute;
    left: calc(50px - 60px);
    border: 10px solid #fff;
}
/*--Certificate--*/
#certificate
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#certificate .row
{
    margin-top: 30px;
}
.col-md-6
{
    margin: 40px auto;
}
.content
{
    padding: 10px 10px 10px;
    background-color: #efefef;
    align-content: center;
    width: 400px;
    height: 300px;
    border-radius: 10%;
}
.content img
{
    border-radius: 50px;
}
.content:hover
{
    box-shadow: 0  15px 15px #007bff;
    transition: 0.5s;
    transform: translateY(10px);
}
/*--Get in Touch--*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form
{
    padding: 15px;
}
.form-conrol
{
    border-radius: o!important;
    border: none!important;
    width: 475px;
}
::placeholder
{
    color: #999!important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
#slogo
{
    padding-left: 100px;
    
}
#logo
{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/*---Footer---*/
#footer
{
    background: #333;
    color: #fff;
    padding: 5px;
    padding-bottom: 1px;
}
.ttk
{
    font-family: 'Dosis', sans-serif;
}
